
/* Search and filter bar */
.admin-controls {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

/* Search input and filter dropdown */
.admin-controls input, .admin-controls select {
    padding: 10px;
    font-size: 16px;
    width: 20vw;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;}


/* Table header and data cells */
th, td {

    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
}
/* Green color for the table header */
th {
    background-color: #2e8b57; 
    color: white;
    font-weight: 600;
}


/* Button and dropdown styling */
button, select {
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid #ddd;
    background-color: #2e8b57; /* Green button */
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Button and dropdown hover effect */
button:hover, select:hover {
    background-color: #238e44; /* Darker green on hover */
}

/* Hide tables by default */
#ordersTableContainer, #usersTableContainer {
    display: none;
}
