@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-bg: #605858;
    --green-bg: #8ED8BF;
    --button-color: #353131;
    --primary-font-color: white;
    --secondary-font-color: black; 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans';
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--green-bg);
    background-image: url(./images/leaves.png);
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding-top: 1.5rem;

    img {
        grid-column: 2; 
    }

    .hamburger-menu {
        grid-column: 1;
        justify-self: start;
    }
}

.menu-page {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.header__lines {
    width: 2.5rem;
    height: 6px;
    background-color: white;
    border: none;
    margin: 6.5px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.content-wrapper {
    width: 500px;
    background-color: var(--primary-bg);
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    justify-items: center;
    color: var(--primary-font-color);

}

.landing-page {
    h1 {
        grid-row: 2;
        align-self: center;
        font-size: 1.5rem;
        max-height: 2rem;
        text-align: center;
    }

    h2 {
        grid-row: 4;
        font-size: 2.5rem;
        max-height: 2rem;
        text-align: center;
    }

    h3 {
        grid-row: 5;
        font-size: 1.5rem;
        max-height: 2rem;
        text-align: center;
        width: 50%;
    }

    img {
        width: 60%;
        height: 75%;
        grid-row: 3;
        align-self: center;
    }
}

.button {
    width: 90%;
    height: 60%;
    color: var(--primary-font-color);
    font-size: 1.5rem;
}

.button--top {
    grid-row: 6;
    align-self: center;
    background-color: var(--button-color);
    border: none;
}

.button--bottom {
    grid-row: 7;
    background-color: var(--primary-bg);
    border: 1px solid white;
}

.about-us {
    row-gap: 1rem;
    padding: 0 1rem;
    .header {
        img {
            height: 5rem;
            width: 5rem;
        }
    }
    
    img {
        width: 100%;
        height: 100%;
    }

}

.menu-wrapper {
    width: 90%;
    background-color: var(--primary-bg);
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.menu-header {
    display: flex;
    justify-content: space-between;
}

.menu-items {
    display: flex;
    flex-direction: column;
}

.order-page {
    grid-template-rows: auto;
    .logo {
        width: 6rem;
        height: 6rem;
        grid-row: 1;
        align-self: center;
    }

    .button--top {
        grid-row: 3;
    }

    .button--bottom {
        grid-row: 4;
    }

    .delivery {
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        .delivery__img {
            width: 100%;
            height: 80%;
        }

        .delivery__heading {
            font-size: 2.5rem;
        }

        .delivery__text {
            font-size: 1.5rem;
        }
    }
}

