@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-bg: #605858;
    --green-bg: #8ed8bf;
    --button-color: #353131;
    --primary-font-color: white;
    --secondary-font-color: black;
    --login-background-color: #F3E4E1;
    --login-button-color: #2F2926;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Fira Sans";
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--green-bg);
    background-image: url(./images/leaves.png);
}

.header {
    width: 475px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--primary-bg);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);

    .logo {
        grid-column: 2;
    }

    .hamburger-menu {
        grid-column: 1;
        justify-self: start;
        padding-left: 0.5rem;
        cursor: pointer;
    }

    .fa-cart-shopping {
        grid-column: 3;
        justify-self: end;
        font-size: 2rem;
        padding-right: 0.5rem;
    }
}

.navigation {
    position: fixed;
    top: 0;
    top: -800px;
    width: 475px;
    height: auto;
    background-color: var(--primary-bg);
    transition: top 0.3s ease;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;

    .list-item {
        list-style-type: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: var(--primary-font-color);
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        padding: 2rem 0;
    }

    .nav-top {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        font-size: 3rem;
        padding: 2rem 1rem;
        background-color: var(--green-bg);
        background-image: url(./images/leaves.png);

        .logo {
            grid-column: 2;
            justify-self: center;
        }

        .fa-xmark {
            grid-column: 1;
            grid-row: 1;
        }
    }
}

.navigation.open {
    top: 0;
}

.header__lines {
    width: 2.5rem;
    height: 6px;
    background-color: white;
    border: none;
    margin: 6.5px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.content-wrapper {
    width: 475px;
    height: 100%;
    background-color: var(--primary-bg);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color: var(--primary-font-color);
    align-items: center;
    overflow: hidden;
}

.cart-wrapper {
    grid-template-rows: 4rem 1fr;
    height: auto;
    max-height: 100%;
    padding: 4rem 0;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--secondary-font-color);
}

.landing-page {
    h1 {
        grid-row: 2;
        align-self: center;
        font-size: 1.5rem;
        max-height: 2rem;
        text-align: center;
    }

    h2 {
        grid-row: 4;
        font-size: 2.5rem;
        max-height: 2rem;
        text-align: center;
    }

    h3 {
        grid-row: 5;
        font-size: 1.5rem;
        max-height: 2rem;
        text-align: center;
        width: 50%;
    }

    img {
        width: 60%;
        height: 75%;
        grid-row: 3;
        align-self: center;
    }
}

.button {
        text-decoration: none;
        height: 60%;
        width: 90%;
        text-align: center;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 15px;

    button {
        color: var(--primary-font-color);
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
    }
}

.button--top {
    grid-row: 6;
    align-self: center;
    background-color: var(--button-color);
    border: none;
}

.button--bottom {
    grid-row: 7;
    background-color: var(--primary-bg);
    border: 1px solid white;
    align-self: start;
}

.about-us {
    padding: 1rem;
    overflow-y: scroll;
    gap: 1.5rem;
    height: 100%;
    .header {
        img {
            height: 5rem;
            width: 5rem;
        }
    }

    img {
        width: 100%;
        height: 100%;
        padding-bottom: 1rem;
    }
    .menu-items::-webkit-scrollbar {
        width: 3px;
        background-color: #696969;
        border-radius: 10px;
    }
    
    .menu-items::-webkit-scrollbar-thumb {
        background: #ffffff;
        border-radius: 10px;
    }
}

.menu-wrapper {
    width: 475px;
    background-color: var(--primary-bg);
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
    padding-bottom: 1rem;

    .menu-header {
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
    }

.fa-solid {
    cursor: pointer;
}
}
.menu-items {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 6rem 2rem 2rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    padding: 5px;
    padding-top: 1rem;
    row-gap: 0.5rem;
    padding-left: 0.7rem;

    .menu-title {
        grid-column: 1;
        grid-row: 1;
    }

    .menu-price {
        grid-column: 2;
        grid-row: 1;
        font-size: 1.375rem;
        justify-self: center;
    }

    .fa-circle-plus {
        grid-column: 3;
        grid-row: 1;
        font-size: 1.5rem;
    }

    .fa-circle-minus {
        grid-column: 4;
        grid-row: 1;
        font-size: 1.5rem;
    }

    .menu-ingredients {
        grid-row: 2;
        grid-column: 1/4;
        font-size: 0.875rem;
        font-weight: 200;
    }
}

.menu-item:hover,a:hover {
    background-color: rgba(241, 240, 236, 0.2);
}

.order-page {
    grid-template-rows: auto;
    .logo {
        width: 8rem;
        height: 8rem;
        grid-row: 1;
        align-self: center;
    }

    .button--top {
        grid-row: 3;
        color: var(--primary-font-color);
        font-size: 1.5rem;
        border: none;
    }

    .button--bottom {
        grid-row: 4;
        color: var(--primary-font-color);
        font-size: 1.5rem;
    }

    .delivery {
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        .delivery__img {
            width: 100%;
            height: 80%;
        }

        .delivery__heading {
            font-size: 2.5rem;
        }

        .delivery__text {
            font-size: 1.5rem;
        }
    }
}

#cart {
    width: 100%;
    grid-row: 2;
}

.menu-item.total-price-container {
    grid-column: 1 / -1;
    font-size: 30px;
    padding-right: 0.7rem;
}

.total-price {
    display: flex;
    grid-column: 1 / -1;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: rgba(53, 49, 49, 0.24);

    span:last-child {
        font-weight: bold;
    }
}

.orderButton {
    display: flex;
    height: 25%;
    width: 95%;

}

.orderButton:hover {
    background-color: #332f2f;
}
.orderButtonArticle {
    display: flex;
    justify-content: center;
}

.cart-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cart-modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    position: relative;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.hidden {
    display: none;
}



button {
    cursor: pointer;
}

.filter-dropdown {
    background-color: var(--primary-bg);
    text-align: center;
    font-size: 1rem;
    color: var(--primary-font-color);
    border: 1px solid white;
    border-radius: 15px;
    padding: 0.5rem;
    appearance: none;
}


.blur {
    filter: blur(5px);
    }

    .menu-items::-webkit-scrollbar, .about-us::-webkit-scrollbar {
        width: 3px;
        background-color: #696969;
        border-radius: 10px;
    }
    
    .menu-items::-webkit-scrollbar-thumb, .about-us::-webkit-scrollbar-thumb {
        background: #ffffff;
        border-radius: 10px;
    }

/* Kvitto overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 1.5rem;
    color: var(--secondary-font-color);
}

.receipt-container {
    h2 {
        margin-bottom: 0.5rem;
    }
    li {
        margin-bottom: 0.5rem;
    }

    ul {
        list-style-type: none;
    }
}

.overlay-content {
    background-color: rgb(255, 255, 255);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
    border: 1px solid black;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}


.cart-text {
    position:fixed;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.login-wrapper {
    grid-template-rows: 10rem 1fr 15rem;

    .login-title {
        align-self: start;
        margin-top: 2rem;
    }
}

.login-form {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    color: #2F2926;
    background-color: var(--login-background-color);
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    height: 100%;
    margin: 3rem;

    label, .new-account {
        align-self: start;
        padding-left: 1.2rem;
    }

    label {
        font-weight: 600;
    }
    

    #form-title, .login-text {
        text-align: center;
        width: 80%;
    }
    
}

.login-button {
    background-color: var(--login-button-color);
    width: 70%;
    color: var(--primary-font-color);
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 30px;
}

input {
    background-color: transparent;
    width: 90%;
    border-radius: 5px;
    border: 1px solid black;
    height: 2.5rem;
}
.cart-dropdown {
    position: absolute;
    background: transparent;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    width: fit-content;

}

.cart-dropdown.show {
    display: block;
}


