@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-bg: #605858;
    --green-bg: #8ED8BF;
    --button-color: #353131;
    --primary-font-color: white;
    --secondary-font-color: black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans';
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--green-bg);
    background-image: url(./images/leaves.png);
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding-top: 0.5rem;
    .logo {
        grid-column: 2;
    }

    .hamburger-menu {
        grid-column: 1;
        justify-self: start;
        padding-left: 0.5rem;
        cursor: pointer;
    }

    .fa-cart-shopping {
        grid-column: 3;
        justify-self: end;
        font-size: 2rem;
        padding-right: 0.5rem;
    }
}

.navigation {
    position: fixed;
    top: 0;
    top: -800px;
    width: 475px;
    height: auto;
    background-color: var(--primary-bg);
    transition: top 0.3s ease;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .list-item {
        list-style-type: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }

    a {
        text-decoration: none;
        color: var(--primary-font-color);
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        padding: 2rem 0;
    }

    .nav-top {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        font-size: 3rem;
        padding: 2rem 1rem;
        background-color: var(--green-bg);
        background-image: url(./images/leaves.png);

        .logo {
            grid-column: 2;
            justify-self: center;
        }

        .fa-xmark {
            grid-column: 1;
            grid-row: 1;
        }
    }
}

.navigation.open {
    top: 0;
}

.menu-page {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    width: 475px;
}

.header__lines {
    width: 2.5rem;
    height: 6px;
    background-color: white;
    border: none;
    margin: 6.5px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.content-wrapper {
    width: 475px;
    height: 100%;
    background-color: var(--primary-bg);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color: var(--primary-font-color);
}

.cart-wrapper {
    grid-template-rows: 4rem 1fr;
    height: auto;
    max-height: 100%;
    padding: 4rem 0;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--secondary-font-color);
}

.landing-page {
    h1 {
        grid-row: 2;
        align-self: center;
        font-size: 1.5rem;
        max-height: 2rem;
        text-align: center;
    }

    h2 {
        grid-row: 4;
        font-size: 2.5rem;
        max-height: 2rem;
        text-align: center;
    }

    h3 {
        grid-row: 5;
        font-size: 1.5rem;
        max-height: 2rem;
        text-align: center;
        width: 50%;
    }

    img {
        width: 60%;
        height: 75%;
        grid-row: 3;
        align-self: center;
    }
}

.button {
        display: inline-block;
        text-decoration: none;
        height: 60%;
        width: 90%;
        text-align: center;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        button {
            color: var(--primary-font-color);
            font-size: 1.5rem;
            background-color: transparent;
            border: none;
        }
}

.button--top {
    grid-row: 6;
    align-self: center;
    background-color: var(--button-color);
    border: none;
}

.button--bottom {
    grid-row: 7;
    background-color: var(--primary-bg);
    border: 1px solid white;
}

.about-us {
    padding: 0 1rem;

    .header {
        img {
            height: 5rem;
            width: 5rem;
        }
    }

    img {
        width: 100%;
        height: 100%;
        padding-bottom: 1rem;
    }

}

.menu-wrapper {
    width: 475px;
    background-color: var(--primary-bg);
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
    padding-bottom: 1rem;

    .menu-header {
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
        padding: 1rem;
    }


}

.fa-solid {
    cursor: pointer;
}

.menu-items {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 6rem 2rem 2rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    padding: 5px;
    padding-top: 1rem;
    row-gap: 0.5rem;
    padding-left: 0.7rem;

    .menu-title {
        grid-column: 1;
        grid-row: 1;
    }

    .menu-price {
        grid-column: 2;
        grid-row: 1;
        font-size: 1.375rem;
        justify-self: center;
    }

    .fa-circle-plus {
        grid-column: 3;
        grid-row: 1;
        font-size: 1.5rem;
    }

    .fa-circle-minus {
        grid-column: 4;
        grid-row: 1;
        font-size: 1.5rem;
    }

    .menu-ingredients {
        grid-row: 2;
        grid-column: 1/4;
        font-size: 0.875rem;
        font-weight: 200;
    }
}

.menu-item:hover, a:hover {
    background-color: rgba(241, 240, 236, 0.2);
}


.order-page {
    grid-template-rows: auto;
    .logo {
        width: 6rem;
        height: 6rem;
        grid-row: 1;
        align-self: center;
    }

    .button--top {
        grid-row: 3;
    }

    .button--bottom {
        grid-row: 4;
    }

    .delivery {
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        .delivery__img {
            width: 100%;
            height: 80%;
        }

        .delivery__heading {
            font-size: 2.5rem;
        }

        .delivery__text {
            font-size: 1.5rem;
        }
    }
}

#cart {
    width: 100%;
    grid-row: 2;
}