@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-bg: #605858;
    --green-bg: #8ED8BF;
    --button-color: #353131;
    --primary-font-color: white;
    --secondary-font-color: black; 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans';
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--green-bg);
    background-image: url(./images/leaves.png);
}

#content-wrapper {
    background-color: var(--primary-bg);
    display: grid;
    grid-template-columns: 1fr;
    width: 475px;
    height: 100%;
    justify-items: center;
    color: var(--primary-font-color);

    h1 {
        grid-row: 2;
        align-self: center;
        font-size: 1.5rem;
        max-height: 2rem;
        text-align: center;
    }

    h2 {
        grid-row: 4;
        font-size: 2.5rem;
        max-height: 2rem;
        text-align: center;
    }

    h3 {
        grid-row: 5;
        font-size: 1.5rem;
        max-height: 2rem;
        text-align: center;
        width: 50%;
    }

    .menu-button {
        grid-row: 6;
        align-self: center;
        background-color: var(--button-color);
        border: none;
    }

    .hitta-button {
        grid-row: 7;
        background-color: var(--primary-bg);
        border: 1px solid white;
    }

    img {
        width: 60%;
        height: 75%;
        grid-row: 3;
        align-self: center;
    }

    button {
        width: 90%;
        height: 60%;
        color: var(--primary-font-color);
        font-size: 1.5rem;
    }
}

#menu-wrapper {
    background-color: var(--primary-bg);
    width: 90%;
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
/*TIMs Styling börjar här -  Bara o ta bort sen!*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #918d8d;
}

#content-wrapper {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #6b6262;
    border: 2px solid #000000;
    border-radius: 9px;
    padding-bottom: 5rem;
}

h1 {
    text-align: center;
    color: #cfcfcf;
    margin-bottom: 1rem
}

.test-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 9px;
    background-color: rgb(171, 173, 173);
    margin-bottom: 5px;
}

/* TIMs Styling Slutar här  */